<?xml version="1.0"?>

<config>
    <modules>
        <Chervit_Blockcustomer>
            <version>1.0.0.0</version>
        </Chervit_Blockcustomer>
    </modules>
    <global>
        <models>
            <blockcustomer>
                <class>Chervit_Blockcustomer_Model</class>
                <resourceModel>blockcustomer_resource</resourceModel>
            </blockcustomer>
            <blockcustomer_resource>
                <class>Chervit_Blockcustomer_Model_Resource</class>
                <deprecatedNode>blockcustomer_mysql4</deprecatedNode>
                <entities>
                    <customer>
                        <table>blockcustomer_customer</table>
                    </customer>
                </entities>
            </blockcustomer_resource>
            <customer>
                <rewrite>
                    <customer>Chervit_Blockcustomer_Model_Origcustomer</customer>
                </rewrite>
            </customer>
        </models>
        <resources>
            <blockcustomer_setup>
                <setup>
                    <module>Chervit_Blockcustomer</module>
                </setup>
            </blockcustomer_setup>
        </resources>
        <helpers>
            <blockcustomer>
                <class>Chervit_Blockcustomer_Helper</class>
            </blockcustomer>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_edit>Chervit_Blockcustomer_Block_Adminhtml_Customer_Edit</customer_edit>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
          <blockcustomer>
                <use>admin</use>
                <args>
                    <module>Chervit_Blockcustomer</module>
                    <frontName>blockcustomer</frontName>
                </args>
            </blockcustomer>
        </routers>
    </admin>
</config>
